<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->

		<meta content="high school football,high school recruits,football recruits,north texas high school football,dallas,dallas fort worth,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" name="keywords"/>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="Staff Writer Corbett Smith ranks the best high school football recruits in North Texas. " name="description" />
		<title>SportsDay's top high school football recruits</title>
		<meta property="og:url" content="http://res.dallasnews.com/interactives/sportsday-top-recruits"/>
		<meta property="og:title" content="SportsDay's top high school football recruits"/>
		<meta property="og:description" content="Staff Writer Corbett Smith ranks the best high school football recruits in North Texas. "/>
		<meta property="og:image" content="http://res.dallasnews.com/interactives/sportsday-top-recruits/images/share.jpg"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta property="og:image:height" content="400"/>
		<meta property="og:image:width" content="600"/>

		<meta name='parsely-page' id='parsely-page' content='{"title": "SportsDay’s top high school football recruits", "link": "http://res.dallasnews.com/interactives/sportsday-top-recruits", "image_url": "http://res.dallasnews.com/interactives/sportsday-top-recruits/images/share.jpg", "type": "post", "post_id": "53373828927", "pub_date": "2015-05-01T12:00:00Z", "author": ["corbett smith"], "section": "High Schools Sports ", "tags": ["high school football","high school recruits","football recruits","north texas high school football","dallas","dallas fort worth","dallas sports","dallas fort worth sports","dfw news","dallas newspaper","dallas morning news","dallas morning news newspaper"]}'/>

		<meta property="og:keywords" content="high school football,high school recruits,football recruits,north texas high school football,dallas,dallas fort worth,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper"/>

		<meta name='news_keywords' content='high school football,high school recruits,football recruits,north texas high school football,dallas,dallas fort worth,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper'/>

		<!-- End Custom Meta Data -->
	
	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>

	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	<link rel="stylesheet" type="text/css" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" href="/interactives/template/css/code.css" />
	<link rel="stylesheet" type="text/css" href="/resrsc/premium/www/css/print.css" media="print"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,700italic%7CMerriweather:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-styles.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	  <script type="text/javascript">
	    WebFont.load({
	      google: { //change custom to google: if using google cdn font
	        families: ['Open+Sans', 'Merriweather'],
	      }
	    });

	</script> 
	<script src="/interactives/template/common/js/jquery-1.10.2.min.js"></script>

	<!--[if lt IE 9]><script type="text/javascript" src="/interactives/template/common/respond.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
	<script type="text/javascript">
	DFP_networkId = "11222444";
	var DFPSlotSizes = [];
	if (jQuery(window).width() < 768)
	{
	var DFP_sitepage = "m.DMN/interactives";
	DFPSlotSizes = [320,50]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "x01");
	adSlot0.addService(googletag.pubads());
	}
	else
	{
	var DFP_sitepage = "DMN/interactives";
	DFPSlotSizes = [728,90]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "Top");
	adSlot0.addService(googletag.pubads());
	}
	</script>
	<script type="text/javascript">
	googletag.pubads().enableSingleRequest();
	googletag.pubads().enableSyncRendering();
	googletag.enableServices();
	</script>


</head>
<body>

	<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-header.js"></script>
    
	<article>
		<!-- end contentHeader -->

		<div id="wrapper">
			<section class="bodyCopy">

				<header id="storyHead">
					<h3>HIGH SCHOOL FOOTBALL</h3>
					<h1>SportsDay&rsquo;s Top 50 for 2016</h1>
					<h2>Mapping where the best high school football recruits go to school in North Texas.</h2>
				</header>
				<!-- end storyHead -->

				<section class="bylineBlock">
    	    		<p>By <a target="blank" href="mailto:emailaddresshere">Corbett Smith</a> | Staff Writer</p>
    	    		<p>Published May 1, 2015</p>
					<p>Updated <span id="updateDate"></span></p>
       			</section>
        		<!-- end bylineBlock -->
<!-- 
	      		<div class="shareComments shareCommentsTop">	
					<ul id="share-bar1" class="width-auto-hack"></ul>
				</div>        		
-->
				<!-- end shareComments -->

				<div id="leadIn" class="clearFix">
					<p class="chatter">Staff Writer Corbett Smith ranks the top 50 senior football recruits for 2016 in North Texas. The larger the circle, the more recruits attend that school. Click the circles to see recruits by high school, or filter the recruits by position using the dropdown below:</p>
					
					
					<p class="filter">View recruits by position: &nbsp; 
						<select id="mapPosition">
							<option value='all positions'>All Positions</option>
							<option value='quarterback'>Quarterback</option>
							<option value='running back'>Running back</option>
							<option value='wide receiver'>Wide receiver</option>
							<option value='tight end'>Tight end</option>
							<option value='offensive lineman'>Offensive lineman</option>
							<option value='defensive lineman'>Defensive lineman</option>
							<option value='linebacker'>Linebacker</option>
							<option value='defensive back'>Defensive back</option>
							<option value='athlete'>Athlete</option>
							<option value='kicker'>Kicker</option>
						</select>
					</p>
					
				</div>
			
				<div id="mapContent">
					<div id="map"></div>
					<div id="legend" class="clearFix">
						<h6>Number of recruits</h6>
						<span class="circle" id="oneRecruit">1</span>
						<span class="circle" id="twoRecruit">2</span>
						<span class="circle" id="fourRecruit">4</span>
					</div>
				</div>
				

				<h4 id="tableHeader">The top 50 recruits</h4>
				<select id="selectSchool"></select> &nbsp;
				<select id="selectPosition">
					<option value='all positions'>All Positions</option>
					<option value='quarterback'>Quarterback</option>
					<option value='running back'>Running back</option>
					<option value='wide receiver'>Wide receiver</option>
					<option value='tight end'>Tight end</option>
					<option value='offensive lineman'>Offensive lineman</option>
					<option value='defensive lineman'>Defensive lineman</option>
					<option value='linebacker'>Linebacker</option>
					<option value='defensive back'>Defensive back</option>
					<option value='athlete'>Athlete</option>
					<option value='kicker'>Kicker</option>
				</select>
				<div id="recruitsTable"></div>
				<p class="note">* Michael Irvin Jr. has withdrawn from Prestonwood.</p>
				

				</section>
					<div id="dfpAdPositionTop" class="noRule">
						<p class="adLabel">Advertisement</p>
						<script type="text/javascript">googletag.display('dfpAdPositionTop');</script>
					</div> 
				<section class="bodyCopy">

				<section class="credits clearFix">
					<p>Author: <a href="mailto:corbettsmith@dallasnews.com">Corbett Smith</a></p>
					<p>Editor: <a href="mailto:sbell@dallasnews.com">Scott Bell</a></p>
					<p>Designer: <a href="mailto:jhancock@dallasnews.com">John Hancock</a></p>
				</section>
				<!-- end credits -->

				<section class="more clearFix">
					<h1>More from The Dallas Morning News</h1>
					<a href="http://res.dallasnews.com/interactives/jim-dent"> 
						<img src="images/dentShare.jpg" alt="Jim Dent">
						<h5>Jim Dent: The man, his books and the bottle</h5>
						<p>The best-selling sports author&rsquo;s passion for alcohol has landed him behind bars repeatedly since 1983.</p>
					</a> 
					<a href="http://res.dallasnews.com/interactives/eagles/">
						<img src="images/eagles.jpg" alt="The Kaufman County bald eagles">
						<h5>New high point for Kaufman Co. eagles</h5>
						<p>A pair of eagles that nested near high-voltage lines now has a safer home thanks to Oncor, Falcon Steel and the John Bunker Sands Wetland Center.</p>
					</a>
					<a href="http://res.dallasnews.com/interactives/country-dallas">
						<img src="images/countryShare.jpg" alt="Don Law and Jim Beck">
						<h5>Faded Echoes</h5>
						<p>But for the tragic death of Jim Beck in 1956,  Dallas could have become, and some say would have become, Nashville.</p>
					</a>
				</section>
				<!-- end more -->

	      		<div class="shareComments">   		
					<ul id="share-bar2" class="width-auto-hack"></ul>
                    <div id="comments"></div>
				</div>
				<!-- end shareComments -->

			</section>
			<!-- end bodyCopy -->

		</div>
		<!-- end wrapper -->

	</article>
    <!-- end relatedFooter -->

	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-footer.js"></script>
	<script type="text/javascript" src="js/customJS.js"></script>
	<!-- Gigya -->
	<!-- Can this be included when initialized? -->
	<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
		{
			lang : 'en',
			enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
			connectWithoutLoginBehavior: 'alwaysLogin'
		}			
	</script>
	<!-- Gigya Templates -->
	<script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
		<div id='gigya-new-user-wrap' class='float-left'>
			<h3 class='label'>Please provide your email address to join</h3>
			<p>
				<label>Email<br>
					<input type='text' name='email' size='20' value='' class='input'>
				</label>
			</p>
			<div class='button-wrap'>
				<input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
			</div>
		</div>
	</script>	
	<script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
		<div id='gigya-sep-wrap'>
			<div class="sep-line"></div>
			<h3>OR</h3>
			<div class="sep-line"></div>
		</div>
		<div id='gigya-account-linking-wrap'>
			<h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
			<p>
				<label>Email<br>
					<input type='text' size='20' value='' class='input' name='email'>
				</label>
			</p>
			<p>
				<label>Password<br>
					<input type='password' size='20' value='' class='input' name='password'>
				</label>
			</p>
			<div class='button-wrap'>
				<input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
			</div>
		</div>
	</script>	
	<script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
		<div id='dialog-header'>
			<div class="ui-helper-clearfix">
			<img class='thumbnail' src='${user.thumbnailURL}'/>
			<p class='text'>
				<b>Hi ${user.firstName}</b>
				{{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
				{{if isNewUser}}{{/if}}
			</p>
			</div>	
		</div>
	</script>
	<!-- End Gigya Templates -->
	<!-- End Gigya -->

	<script type="text/javascript">
		var storyTitle = "SportsDay's top high school football recruits",
		    storyURL = "http://res.dallasnews.com/interactives/sportsday-top-recruits",
		    leadText = "Staff Writer Corbett Smith ranks the best high school football recruits in North Texas. ",
		    storyIMG = "http://res.dallasnews.com/interactives/sportsday-top-recruits/images/share.jpg",
		    storyAuthor = "corbett smith",
		    comments = true,
		    share = true;
	</script>
	<script type="text/javascript">OAS_sitepage = 'http://www.dallasnews.com/sports/high schools/';</script>
	<script type="text/javascript" src="/interactives/template/common/js/common-v1.js"></script>
	<script type="text/javascript" src="/resrsc/js/biomniture.js"></script>
	<script type="text/javascript" src="js/actions-v0.js"></script>

	<!-- START Parse.ly Include: Standard -->
	<div id="parsely-root" style="display: none">
		<div id="parsely-cfg" data-parsely-site="dallasnews.com"></div>
	</div>
	<script>
		(function(s, p, d) {
		var h=d.location.protocol, i=p+"-"+s,
		e=d.getElementById(i), r=d.getElementById(p+"-root"),
		u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
		:"static."+p+".com";
		if (e) return;
		e = d.createElement(s); e.id = i; e.async = true;
		e.src = h+"//"+u+"/p.js"; r.appendChild(e);
		})("script", "parsely", document);
	</script>
	<!-- END Parse.ly Include: Standard -->

</body>
</html>
